@import "tailwindcss";
@source "../../views";

@theme {
  --color-brand-50: #eef6ff;
  --color-brand-100: #d9eaff;
  --color-brand-500: #2f6fed;
  --color-brand-600: #2559c7;
  --color-brand-700: #1d469e;
}
